.big-seperator {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none; 
  height: 12px; 
  background: tomato; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*******************************************************************************************************/

.App-Nav {
  background-color: black;
  text-align: center;
  padding: 20px;
}

.App-Nav a:link {
  color: white;
  margin: 10px;
}

.App-Nav a:visited {
  color: white;
}

.App-Nav a:hover {
  color: hotpink;
}

.App-Nav a:active {
  color: orange;
}